* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #00f7ff75;
}

#adviseEl h1 {
    font-size: 3.5rem;
}

#resultEl {
    font-size: 3rem;
    font-weight: 900;
    padding: 1rem;
    color: rgb(0, 0, 170);
}

#clock {
    font-size: 4rem;
    font-weight: 900;
    padding: 4rem;
    width: max-content;
    aspect-ratio: 1;
    background-image: url(../img/chrono.png);
    background-size: cover;
    margin: auto;
    border-radius: 50%;
    color: red;
}

.animation {
    animation: scale 1s linear infinite;
}

@keyframes scale {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.1);
    }    
}
